*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body{
    background: url('https://images.unsplash.com/photo-1511314128052-1ba0c3f0081a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1172&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
h1{
    text-align: center;
    color: #d1cfcf;
    text-transform: uppercase;
}

/* FORM - 1 CSS */

.form-1{
    float: left;
    width: 29%;
    margin-top: 70px;
    margin-left: 40px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px #48524f;
}
.top-content{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    text-align: center;
    background: #f12711;
    height: 200px;
background: -webkit-linear-gradient(to right, #f5af19, #f12711);
background: linear-gradient(to right, #f5af19, #f12711); 
}
.top-content h2{
    color: white;
    font-size: 36px;
    font-weight: 500;
}
.top-content i{
    color: white;
    margin: 20px;
    font-size: 30px;
}
form{
    text-align: center;
}
#name,#password{
    width: 70%;
    height: 35px;
    border: 0;
    font-size: 20px;
    border-bottom:2px solid lightgray;
}
.forgot{
    margin-top: 20px;
    float: right;
    margin-right: 30px;
    color: grey;
}
a{
    text-decoration: none;
    color: black;
}
.p-text{
    color: black;
}
#submit{
    display: inline-block;
    width: 100px;
    height: 50px;
    font-size:18px;
    border-radius: 35px;
    background-color: rgb(43, 41, 41);
    color: white;
    border: 0;
}
.signup-text{
    display: inline-block;
    margin-left: 30px;
}
#submit,.signup-text{
    margin-bottom: 30px;
}
#submit{
    box-shadow: 0 0 5px #48524f;
}
.create-accnt{
    color: grey;
}

input::placeholder{
    color: grey;
    font-weight: 600;
    font-size: 18px;
}
#submit:hover{
    cursor: pointer;
}
input[type=text]:focus{
    outline:0;  
}
input[type=password]:focus{
    outline:0;  
}
input[type=submit]:focus{
    outline:0;  
}

/* FORM - 1 ENDS */


/* FORM - 2 */

.form-2{
    float: left;
    width: 29%;
    margin-left: 50px;
    margin-top: 70px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px #48524f;
}
.form-2 h2{
    color: #02AAB0;
    margin-top: 30px;
    font-size: 36px;
    font-weight: 500;
}
.label-chckbox{
    margin-left: 0;
}
#checkbox{
    margin-left: 60px;
}
#submit-2{
    display: inline-block;
    width: 150px;
    height: 50px;
    font-size:18px;
    border-radius: 35px;
    background-color: #02AAB0;
    color: white;
    border: 0;
}
#submit-2:hover{
    cursor: pointer;
}
#submit-2{
    box-shadow: 0 0 5px #02AAB0;
}
.label-form-2{
    color: grey;
}
.label-form-2 a{
    color: rgb(0, 89, 255);
}
input[type=checkbox]:focus{
    outline:0;
}
.signin-a{
    color: rgb(0, 89, 255);
}
.bottom-content{
    background: #02AAB0;
    height: 68px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
background: -webkit-linear-gradient(to right, #00CDAC, #02AAB0);
background: linear-gradient(to right, #00CDAC, #02AAB0);
}
.bottom-content i{
    color: white;
    margin: 22px;
    font-size: 30px;
}

/* FORM - 2 ENDS */


/* FORM - 3 */

.form-3{
    float: left;
    width: 29%;
    margin-left: 50px;
    margin-top: 70px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px #48524f;
}
.form-3 h2{
    color:#0082c8;
    margin-top: 30px;
    font-size: 36px;
    font-weight: 500;
}
.forgot-pwd a{
    margin-top: 20px;
    float: right;
    margin-right: 30px;
    color: #0082c8;
}
#submit-3{
    display: inline-block;
    width: 80%;
    height: 50px;
    font-size:18px;
    border-radius: 35px;
    background-color: #6DD5FA;
    color: white;
    border: 0;
}
#submit-3:hover{
    cursor: pointer;
}
#submit-3{
    box-shadow: 0 0 5px #6DD5FA;
}
hr{
    display: inline-block;
    width: 25%;
    margin: 5px;
    border: none;
    border-top: 2px solid;
    color:#0082c8;
}
.or{
    display: inline-block;
    font-style: italic;
    text-align: center;
}
.btn{
    float: left;
    margin: 30px;
}
.btn-link{
    display: inline-block;
    margin-left: 20px;
}
.btn-link .fa{
    background-color: #fff;
    width: 90px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 20px;
}
.btn-link .fa{
    box-shadow: -5px -5px 5px rgba(255,255,255,0.2),
                5px 5px 5px rgba(109,213,250,0.5);
}
.btn-link .fa:hover{
    box-shadow: -2px -2px 2px rgba(255,255,255,0.2),
    2px 2px 2px rgba(109,213,250,0.7),
    inset -1px -1px 1px rgba(255,255,255,0.2),
    inset 1px 1px 1px rgba(109,213,250,0.5);
}
.btn-link .fa-google{
    color: #DB4437;
}
.btn-link .fa-twitter{
    color: #F4B400;
}
.btn-link .fa-facebook{
    color: #0F9D58;
}
/* FORM - 3 ENDS */

.fa-facebook:hover{
    color: #43609C;
    transition: all .3s;
}
.fa-twitter:hover{
    color: #1DA1F2;
    transition: all .3s;
}
.fa-google:hover{
    color: #0F9D58;
    transition: all .3s;
}
